body {
	background:#BEC3C6;
	font-family:Verdana,"BitStream vera Sans",Tahoma,Helvetica,Sans-serif;
	font-size:15px;
}

table {
 font-size: 95%;
 font-family: 'Lucida Grande', Helvetica, verdana, sans-serif;
 border-collapse: collapse;
 width: 100%;
 line-height: 1.2em;
}
caption {
 font-size: 30px;
 font-weight: bold;
 color: #002084;
 text-align: center;
 padding: 10px 0px;
 margin-bottom: 2px;
 text-transform: capitalize;
}
thead th {
 border-right: 2px solid #fff;
 color:#fff;
 text-align:center;
 padding:2px;
 height:25px;
 background-color: #004080;
}
tfoot {
 color:#002084;
 padding:2px;
 text-transform:uppercase;
 font-size:1.2em; 
 font-weigth: bold;
 margin-top:6px;
 border-top: 6px solid #004080;
 border-bottom: 6px solid #004080;
}
tbody tr {
 background-color:#fff;
 border-bottom: 2px solid #c0c0c0;
}
tbody td {
 color:#002084;
 padding:5px;
 text-align:center;
}
tbody th {
 text-align:center;
 padding: 2px;
}
/*
tbody td a, tbody th a {
 color:#002084;
 text-decoration:none;
 font-weight:normal; 
}
tbody td a:hover, tbody th a:hover {
 text-decoration:underline;
}
*/
a {
 color:#002084;
 text-decoration:none;
 font-weight:normal; 
}
a:hover {
 text-decoration:underline;
}
