{% extends "base.html" %}
{% block title %}
index
{% endblock %}
{% block content %}
<h3>Ablout</h2>
<li id="menu" style='font-size:15px'>
<ul>这是一个简易版的Online Judge，目前仅支持C、C++，且代码长度不能超过4K</ul>
<ul>您可以<a href='/register'>注册帐号</a>，或者用测试帐号guest(密码：guest)<a href='/login'>登录</a></ul>
<ul>Web采用django，Judge端采用了<a href='http://openjudge.net/~liuyu/Project/LibSandbox' target='_blank'>Liu Yu(HIT)</a>的<a href='http://sourceforge.net/projects/libsandbox/' target='_blank'>Sandbox Project</a></ul>
<ul>欢迎提出问题或建议，请联系shiwei072@gmail.com</ul>
</li>
{% endblock %}
