<html>
<head>
<title>Your Code</title>
<link type="text/css" rel="stylesheet" href="/SyntaxHighlighter/Styles/SyntaxHighlighter.css"></link> 
<script language="javascript" src="/SyntaxHighlighter/Scripts/shCore.js"></script> 
<script language="javascript" src="/SyntaxHighlighter/Scripts/shBrushCpp.js"></script> 
<script language="javascript" src="/SyntaxHighlighter/Scripts/shBrushXml.js"></script> 
<script language="javascript"> 
	window.onload = function () { 
		dp.SyntaxHighlighter.ClipboardSwf = '/SyntaxHighlighter/Scripts/clipboard.swf'; 
		dp.SyntaxHighlighter.HighlightAll('code'); 
	}
</script> 
</head>
<body>
<h3 style='text-align:center'>Source code</h3>
<pre name="code" class="cpp">
{{ code }}
</pre>
</body>
</html>